.song-in-top-3-chart-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 7fr 1fr;
  align-items: center;
  justify-items: center;
  border: 0.5px solid rgba($color: #fff, $alpha: 0.3);
  border-radius: 3px;
  height: 100%;

  &:hover {
    border: none;
    background-color: rgba($color: #fff, $alpha: 0.3);
  }

  .top-1 {
    color: rgb(4, 0, 248);
  }
  .top-2 {
    color: rgb(0, 255, 55);
  }
  .top-3 {
    color: rgb(255, 0, 0);
  }
}
