.song-ranking-wrapper .top-number-wrapper {
  font-size: 30px;

  .top-1 {
    color: rgb(0, 248, 0);
  }
  .top-2 {
    color: rgb(0, 0, 255);
  }
  .top-3 {
    color: rgb(255, 0, 0);
  }
  .top-4 {
    color: rgb(14, 110, 14);
  }
  .top-5 {
    color: rgb(136, 60, 18);
  }
}
